.row_selected{
    background-color:lightblue !important;
}
.even{
    background-color: #cccccc
}
.dataTables_length{
    padding:5px;
}
.dataTables_filter{
    padding:5px;
}
.dataTables_paginate{
    padding:5px;
}
.dataTables_info{
    padding:5px;
}
.fg-button{
    padding:3px;
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em; }
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #333333 !important;
    border: 1px solid transparent; }
