body {
	font-family: Verdana; 
	font-size: 11px; 
	color: #333333;
	font-weight: normal; 
	font-style: normal;
}
h1 {  
	font-family: Verdana;
	font-size:11px; 
	color: #333333; 
	font-weight: bold; 
	font-style: normal;
}
td {  
	font-family: Verdana; 
	font-size: 11px; 
	font-style: normal; 
	color: #333333;
}
a {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #EA0000;
	text-decoration: none;
}
a:hover {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #EA0000;
	text-decoration: underline;
}
.subnav a { 
	font-family: Verdana; 
	font-size: 11px; 
	color: #EA0000; 
	text-decoration: bold;
	text-decoration: none;
}
.subnav a:hover { 
	font-family: Verdana; 
	font-size: 11px; 
	color: #EA0000;
	text-decoration: bold; 
	text-decoration: underline;
}
.blacknav a { 
	font-family: Verdana; 
	font-size: 11px; 
	color: #000000; 
	text-decoration: bold;
	text-decoration: none;
}
.blacknav a:hover { 
	font-family: Verdana; 
	font-size: 11px; 
	color: #000000;
	text-decoration: bold; 
	text-decoration: underline;
}
.footernav a { 
	font-family: Verdana; 
	font-size: 11px; 
	color: #ffffff;
	text-decoration: none;
}
.footernav a:hover { 
	font-family: Verdana; 
	font-size: 11px; 
	color: #ffffff; 
	text-decoration: underline;
}
.textblack11 {
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
}
.textblack11 {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
}
.textblack10 {
	font-family: Verdana;
	font-size: 10px;
	color: #333333;
}
.textred10 {
	font-family: Verdana;
	font-size: 10px;
	color: #990000;
}
.textgrey10 {
	font-family: Verdana;
	font-size: 10px;
	color: #999999;
}
.textwhite10 {
	font-family: Verdana;
	font-size: 10px;
	color: #ffffff;
}
.textfieldlong {
	font-family: Verdana;
	color: #333333;
	background-color: #FFFFFF;
	height: 20px;
	width: 220px;
	padding-left: 5px;
	border: 1px solid #CCCCCC;
	font-size: 11px;
}
.textfieldshort {
	font-family: Verdana;
	color: #333333;
	background-color: #FFFFFF;
	height: 20px;
	width: 190px;
	padding-left: 5px;
	border: 1px solid #CCCCCC;
	font-size: 11px;
}
.textlistlong {
	font-family: Verdana;
	color: #333333;
	background-color: #FFFFFF;
	height: 140px;
	width: 220px;
	padding-left: 4px;
	border: 1px solid #CCCCCC;
	font-size: 11px;
}
.textbox {
	font-family: Verdana;
	color: #333333;
	background-color: #FFFFFF;
	height: 110px;
	width: 220px;
	padding-left: 5px;
	border: 1px solid #CCCCCC;
	font-size: 11px;
}
.textboxshort {
	font-family: Verdana;
	color: #333333;
	background-color: #FFFFFF;
	height: 100px;
	width: 200px;
	padding-left: 5px;
	border: 1px solid #CCCCCC;
	font-size: 11px;
}
.filefied {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	height: 20px;
	width: 220px;
	text-align: Left;
	padding-left: 4px;	
}
.button {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	height: 20px;
	width: 100px;
	text-align: Center;
	padding-left: 4px;
}